<br>
<br>
<h1><p class="text-center">Profile</p></h1>

<div class="content">
  <div class="box1">
    <%= image_tag @user.image_url, size: "250x200" if @user.image? %>
    <%= image_tag @user.avatar_url, size: "250x200" if @user.avatar? %>
  </div>

  <div class="p1">名前 : <%= @user.username %></p1>
  <div class="p2">メールアドレス : <%= @user.email %></p2>
  <div class="p3">プロフィール : <%= @user.profile %></p3>

  

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>


<div class="user-in">
  <h2><%= @user.email %></h2>

  <% if @user.id == current_user.id %>
      <%= @msg %>
  <% else %>
      <% if @isRoom == true %>
          <p><%= link_to 'DMへ', room_path(@roomId) %></p>
      <% else %>
          <%= form_for @room do |f| %>
              <%= fields_for @entry do |e|%>
                  <% e.hidden_field :user_id, value: @user.id %>
              <% end %>
          <%= f.submit "DMを開始する"%>
          <% end %>
      <% end %>
  <% end %>
</div>

<%= link_to "ユーザー一覧に戻る", users_path %>


<h2>ユーザーの投稿一覧</h2>
<% @user.goods.each do |g| %>
  <%= g.user.username %>
  <%= g.name %>
  <%= g.about %>

<% end %>


<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_goods.each do |g| %>
  <%= g.user.username %>
  <%= g.name %>
  <%= g.about %>
  
<% end %>


<%= link_to "投稿一覧に戻る", goods_path %>