<%= stylesheet_link_tag 'index', :media => "all" %>
<div class="goods-auto">
    <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
</div>
<div class="goods-container">
    <h3>投稿一覧</h3>

    <% if user_signed_in? %>
    <%= link_to "マイページへ", user_path(current_user.id) %>
    <% end %>

    <h3>投稿を検索</h3>
    <%= form_tag({controller:"goods",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <button type="submit_tag" class="btn btn-outline-warning">検索する</button>
    <% end %>

    <%= link_to "新規投稿へ", new_good_path %>


    <% @goods.each do |g| %>
        <div class="good">
        <div class="main-box">
    
        <%= image_tag g.image_url, size: "250x200" if g.image? %>

     <% if user_signed_in? %>
        
            <% if current_user.already_liked?(g) %>
                <%= button_to good_like_path(id: g.id, good_id: g.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= g.likes.count %>
                <% end %>
            <% else %>
                <%= button_to good_likes_path(id: g.id, good_id: g.id), method: :post do %>
                    <i class="far fa-heart"></i><%= g.likes.count %>
                <% end %>
            <% end %>
        <% else %>
        <i class="far fa-heart"></i><%= g.likes.count %>
    <% end %>

    <div class="left-container">
        <%= image_tag g.user.image_url, size: "250x200" if g.user.image? %>
        <%= link_to g.user.username, user_path(g.user.id) %>
        <%= g.user.email %> 
        <%= g.name %>
        <%= g.about %>
        <%= g.created_at %>
    </div>
    <div class="right-container">
        <% if user_signed_in? && current_user.id == g.user_id %>
            <%= link_to "詳細", good_path(g.id) %>
            <%= link_to "編集する", edit_good_path(g.id) %>
            <%= button_to "削除する", good_path(g.id), method: :delete %>
</div>
</div>
        <% end %> 
        </div>
        

        </div>
    <% end %>
</div>