<%= stylesheet_link_tag 'index', :media => "all" %>
<div class="example">
    <img src="/assets/eiga.jpg" class="d-block w-100" alt="...">
    <p>最高の映画体験を。</p>
</div>



<br>
<br>
<h2><p class="text-center">Movie file</p></h2>

<div class="container">
    <div class="row">  
        <div class="col-md-9">
            <br>
            <br>
                <%= form_tag({controller:"goods",action:"index"}, method: :get) do %>
                    <%= text_field_tag :search %>
                    <br>
                    <br>
                    <button type="submit_tag" class="btn btn-outline-warning">Search</button>
                <% end %>
        </div>
        
        <div class="col-md-3">


            <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
                <% if user_signed_in? %>
                    <%= link_to "My page", user_path(current_user.id) %>
                <% end %>

                <%= link_to "New post", new_good_path %>

        </div>
    </div>

<br>
<br>
<br>
<br>
                

        <div class="row">
           
            <% @goods.each do |g| %>
                
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div class="column flex-direction:row"> 
                                <%= image_tag g.image_url, size: "250x200" if g.image? %>
                                <br>
                                <br>
                                
                                        <% if user_signed_in? %>
                                        
                                            <% if current_user.already_liked?(g) %>
                                                <%= button_to good_like_path(id: g.id, good_id: g.id), method: :delete do %>
                                                    <i class="fa-solid fa-heart" style="color: red;"></i><%= g.likes.count %>
                                                <% end %>
                                            <% else %>
                                                <%= button_to good_likes_path(id: g.id, good_id: g.id), method: :post do %>
                                                    <i class="fa-regular fa-heart" style="color: gray;" ></i><%= g.likes.count %>
                                                <% end %>
                                            <% end %>
                                        <% else %>
                                        <i class="far fa-heart"></i><%= g.likes.count %>
                                    <% end %>

                                    
                                    
                                        <h5 class="card-title"><%= link_to g.user.username, user_path(g.user.id) %></h5>
                                        <p class="card-text">
                                            <%= g.user.email %> 
                                            <br>
                                            <%= g.name %>
                                            <br>
                                            <%= g.about %>
                                            <br>
                                            <%= g.created_at %>
                                            <br>
                                        
                                
                                            <% if user_signed_in? && current_user.id == g.user_id %>
                                            <%= link_to "詳細", good_path(g.id) %>
                                            <%= link_to "編集する", edit_good_path(g.id) %>
                                            <%= button_to "削除する", good_path(g.id), method: :delete %>
                                        </p>
                            </div>            
                        </div>
                        
                    </div>
                    <br>
                    <br>

                        
                </div>
            <% end %>
            <% end %>
        </div>
    <div class="row"></div>
</div>
<br>
<br>
<br>
<div class="scroll-infinity">
      <div class="scroll-infinity__wrap">
        <ul class="scroll-infinity__list scroll-infinity__list--right">
          <li class="scroll-infinity__item"><img src="../assets/konan.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/king.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/bosei.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/desny.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/kisei.png"></li>
          <li class="scroll-infinity__item"><img src="../assets/lalaland.jpg"></li>
        </ul>
        <ul class="scroll-infinity__list scroll-infinity__list--right">
          <li class="scroll-infinity__item"><img src="../assets/kimi.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/haken.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/1200.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/sigatu.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/kujira.jpg"></li>
          <li class="scroll-infinity__item"><img src="../assets/tokyo.jpg"></li>
        </ul>
      </div>
      </div>
    

