<%= stylesheet_link_tag 'new', :media => "all" %>

<div class="post-container">
<p class="title">New post</p>
<%= form_for @good do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, :size => 30 %>


    <%= f.label :about  %>
    <%= f.text_area :about, :size => "30x2" %>


 
    <%= f.label :image %>
    <%= f.file_field :image %>
 

  <%= f.submit "Post" %>
<% end %>
</div>

<div class="post-sub">
  <%= link_to "Go to post list", goods_path %>
</div>