<h1>GeekInstagram</h1>
<h3>投稿詳細</h3>
<div class="good">
  <p><%= @good.name %></p>
  <p><%= @good.about %></p>
  <p><%= @good.created_at %></p>
  <% if user_signed_in? %>
        <% if current_user.already_liked?(@good) %>
            <%= link_to tweet_like_path(@good), method: :delete do %>
                <i class="fas fa-heart"></i><%= @good.likes.count %>
            <% end %>
        <% else %>
            <%= link_to good_likes_path(@good), method: :post do %>
                <i class="far fa-heart"></i><%= @good.likes.count %>
            <% end %>
        <% end %>
        <% else %>
        <i class="far fa-heart"></i><%= @good.likes.count %>
        <% end %>
    <%= link_to "編集する", edit_good_path(@good.id) %>
</div>

<h2>いいねしたユーザー</h2>
<% @good.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@good, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "投稿一覧に戻る", goods_path %>